@inherits LayoutComponentBase

<div class="sidebar">
    <RestaurantGosse.Shared.NavMenu></RestaurantGosse.Shared.NavMenu>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>