@inherits LayoutComponentBase
@inject IUriHelper uriHelper

<MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="full">
    <MatDrawer @bind-Opened="@Opened">
        <header class="drawer-header">
            <div class="drawer-logo">
                <img alt="Blazor Boilerplate" class="logo-img" src="images/logo.svg" title="Blazor Boilerplate">
            </div>
        </header>
        <NavMenu />
    </MatDrawer>
    <MatDrawerContent>
        <MatAppBarContainer>
            <MatAppBarContent>
                <section class="container-fluid">
                    @Body
                </section>
            </MatAppBarContent>
        </MatAppBarContainer>
    </MatDrawerContent>
</MatDrawerContainer>

@code {
    bool Opened = true;
}