@using Microsoft.AspNetCore.Components;
@inject IUriHelper uriHelper

<nav class="app-sidebar">
    <MatListGroup>
        <MatList SingleSelection="true">
            <MatListItem Href="@uriHelper.ToAbsoluteUri(" ").AbsoluteUri">
                <MatIcon>home</MatIcon> <span>Dagens ret</span>
            </MatListItem>
            <MatListItem Href="@uriHelper.ToAbsoluteUri("/starter").AbsoluteUri">
                <MatIcon>free_breakfast</MatIcon> <span>Forret</span>
            </MatListItem>
            <MatListItem Href="@uriHelper.ToAbsoluteUri("/maincourse").AbsoluteUri">
                <MatIcon>room_service</MatIcon> <span>Hovedret</span>
            </MatListItem>
            <MatListItem Href="@uriHelper.ToAbsoluteUri("/dessert").AbsoluteUri">
                <MatIcon>cake</MatIcon> <span>Dessert</span>
            </MatListItem>
        </MatList>
    </MatListGroup>
</nav>