@inject IUriHelper UriHelper

<div @onclick="@Navigate">
    <MatCard>
        <h2 class="recipe-header">@recipe.Title</h2>
    </MatCard>
</div>

@code {
    [Parameter]
    RecipeContentful recipe { get; set; }

    public class RecipeContentful
    {
        public SystemProperties Sys { get; set; }
        public string Title { get; set; }
        public string Type { get; set; }
        public string Amount { get; set; }
        public Document Ingredients { get; set; }
        public Document Instructions { get; set; }
        public Asset Image { get; set; }
    }

    private void Navigate()
    {
        UriHelper.NavigateTo("/recipe/" + recipe.Sys.Id);
    }
}